.box {
    height: 400px;
    width: 320px;
    display: inline-block;
    margin-left: 2px;
    position: relative;
    
}

#a,#d {
    background-image: url(/img/pd1.jpeg);
}

#b, #e {
    background-image: url(/img/pd2.jpeg);
}

#c, #f {
    background-image: url(/img/pd3.jpeg);
}

.riga {
    margin-bottom: 30px;
    text-align: center;
}

.tabella {
    margin-top: 3%;
}